---
layout: base-layout.njk
pagination:
  data: collections.project
  size: 10
  reverse: false
  alias: projects
---
<section class="intro">
  <h1>Hi, I’m Julia, a creative director and product designer who loves media and tech. Most recently, I worked on <a href="/projects/credibility-indicators/">news literacy and trust</a>, designed a <a href="/projects/civil-theme/">WordPress theme</a> for small newsrooms, and created a <a href="/projects/civil-brandbook/">brandbook</a> and <a href="/projects/civil-illustrations/">illustration system</a> for a journalism startup.</h1>
</section>
{% for project in projects %}
  <article class="card">
    <a href="{{ project.url | url }}">
      <h3 class="card-eyebrow">{{ project.data.category }}</h3>
      <h1 class="card-title">{{ project.data.title }}<span class="card-description"> {{ project.data.description }}<span></h1>
    </a>
  </article>
{% endfor %}
