---
layout: base-layout.njk
pagination:
  data: collections.project
  size: 10
  reverse: false
  alias: projects
---
{% for project in projects %}
  <article>
    <a href="{{ project.url | url }}">
      <h3>{{ project.data.category }}</h3>
      <h1>{{ project.data.title }}<span> {{ project.data.description }}<span></h1>
    </a>
  </article>
{% endfor %}
