<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Julia Himmel: Portfolio</title>

  <link rel="stylesheet" href="https://use.typekit.net/mbg7drq.css">
  <link rel="stylesheet" href="/css/site.css">


</head>
<body>
  <header>
    <nav>
      <a href="/">Julia Himmel</a>
      <ul>
        <li><a href="/About">About</a></li>
        <li><a href="mailto:himmel.julia@gmail.com">Contact</a></li>
        <li><a href="https://swww.linkedin.com/in/julia-himmel-a785087/">LinkedIn</a></li>
        <li><a target="_blank" href="https://eleventy-portfolio.s3.amazonaws.com/Julia_Himmel_Resume_2020.pdf">Resume</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    {{ content | safe }}
  </main>
  <footer>
    <ul>
      <li><a href="/About">About</a></li>
      <li><a href="mailto:himmel.julia@gmail.com">Contact</a></li>
      <li><a href="https://swww.linkedin.com/in/julia-himmel-a785087/">LinkedIn</a></li>
      <li><a target="_blank" href="https://eleventy-portfolio.s3.amazonaws.com/Julia_Himmel_Resume_2020.pdf">Resume</a></li>
    </ul>
  </footer>
</body>
</html>
