---
layout: base-layout.njk
---
<article class="project">
  <div class="project-header">
    <h3 class="project-header-eyebrow">{{ category }}</h3>
    <h1 class="project-header-title">{{ title }}<span class="project-header-description"> {{ description }}</span></h1>
  </div>
  {{ content | safe }}
</article>
